<title>My Application</title>
  <h1>Hello, World !!!</h1>
  <p>This is the HW#1 assignment of Bil481 Software Engineering Course</p>
  <p>Veli Durmuşcan, 141201001<br/></p>
  <p>Returns true if Number1 exists in Array1 and Number2 exists in Array2<br/></p>
  
    Result is {{result}}

  <p><br/></p>
  <form action="compute" method="post">
        <textarea name="array1" rows="10" cols="30" placeholder="Array1"></textarea>
        <textarea name="num1" rows="10" cols="10" placeholder="Number1"></textarea>
		<textarea name="array2" rows="10" cols="30" placeholder="Array2"></textarea>
        <textarea name="num2" rows="10" cols="10" placeholder="Number2"></textarea>
        <br>
        <input type="submit">
  </form>
